.audio__component {
  display: flex;
  place-items: center;
  flex-direction: column;
  margin: auto;
  height: 80%;
  width: 80%;
  background-color: #fff;
  box-shadow: 10px 2px 10px 5px rgb(197, 196, 196);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.audio__component > img {
  margin-top: 20px;
  border-radius: 50%;
  height: 20px;
  width: 190px;
  flex: 1;
  margin-left: 30px;
}

.audio__component > h2 {
  font-size: 18px;
  font-weight: 650;
  color: rgb(17, 17, 71);
}

.audio__component > p {
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
