.play {
  flex: 0.4 300px;
  height: 400px;
  margin: 30px;
  /* background-color: rgb(255, 255, 250); */
}
.play__component {
  margin-top: 25px;
  padding-top: 30px;
  height: 400px;
  background-color: rgb(255, 255, 250);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
