.songcover > img {
  width: 200px;
  height: 200px;
  /* object-fit: contain; */
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  box-shadow: 1px 20px 20px rgb(185, 176, 176);
}

.songcover {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}
.songcover:hover {
  cursor: e-resize;
}
.songcover > h3 {
  margin-top: 15px;
  font-size: 15px;
}
.songcover:nth-of-type(1) {
  margin-left: 1100px;
}
.songcover > p {
  font-size: 15px;

  margin-top: 5px;
  color: gray;
  font-weight: 500;
}
